body{
	font-family: Cindie2-L, Arial, sans-serif;
	font-weight: 100;
	width: 100%;
	margin: 0;
	min-width: 1440px;
	position: relative;
}

@font-face {
font-family: "Cindie2-L";
src: url("../font/Cindie2-L.otf"),
url("../font/Cindie2-L.svg");
}


#load_gif{
	position: fixed; 
	display: block;
	top:0; 
	left: 0;
	width: 100%; 
	z-index: 99;
	overflow: hidden;
	min-width: 1100px;
}

#load_gif_img{
	width: 100%;
	overflow: hidden;
    top: 0;
    left: 0;
}

#img_refer{
	position: absolute; 
	top:0; 
	left: 0px;
	width: 100%; 
	height: auto; 
	opacity: 0.3;
	z-index: -10;
}


#title_tag{
	position: relative;
	width: 100%;
	min-width: 1100px;
/*	height: 110px;
	margin-top: -6px;
	right: -2px;*/
}



/*title*/
#band{
	position: relative;
	width: 100%; 
}

#band_img{
	width: 84%;
	display: block;
	margin: 65px auto;
}
/*end_title*/




/*main_content*/
#lay_pack{
	position: relative;
	width: 100%;
	margin-top: -27px;
	overflow: hidden;
/*	background-color: white;*/
	z-index: 20;
	min-width: 1440px;
}

/*#img_refer{
	position: absolute; 
	top:10px; 
	width: 100%; 
	height: auto; 
	z-index: -10;
}*/

.text_align{
	overflow: hidden;
}

.img_align{
	position: relative;
	width: 100%;
	z-index: 100;
}

/*#fix_lay{
	position: relative; 
	margin-top:10px; 
	top: 192%;
	width: 100%; 
	height: 100%; 
	object-fit: cover;
	z-index: -10;
	background: url('../images/lay_fix.jpg') center no-repeat;
	background-size: cover;
}*/

#div_line1{
	position: relative;
	height: 831px;
	display: block;
}

.border{
	color: white;
}

#border1{
	position: relative;
	display: inline-block;
	border: 2px solid #999;
	border-radius: 100px;
	height: 118px;
	width: 38%;
	left: 181px;
	top: -54px;
	z-index: 20;
}

#well_1{
	position: relative;
	margin: 25px 0 -17px 17px;
	width: 9% !important;
	height: auto;
	display: inline-block;
}

#text_plas_bag{
	position: relative;
	display: inline-block !important;
	top: 35px;
	left: 0;
	margin: 26px 20px 0px 17px;
	font-size: 69px;
}

#img_plas_bag{
	position: relative;
	display: inline-block;
	left: 8%;
	width: 26.5% !important;
	top: -227px;
	height: auto;
	z-index: 10;
}





#border2{
	position: relative;
	display: inline-block;
	border: 2px solid #999;
	border-radius: 100px;
	height: 98px;
	width: 22.5%;
	left: 10%;
	top: -501px;
	z-index: 20;
}

#well_2{
	position: relative;
	margin: 20px 0 20px 5px;
	width: 21% !important;
	height: auto;
	display: inline-block;
	left: -150px;
}

#text_cup{
	position: relative;
	left: -89px;
	font-size: 64px;
	font-weight: bold;
	display: inline-block;
/*	transform: translatex(-50%);*/
}

#img_cup{
	position: relative;
	left: 38%;
	width: 32%;
	bottom: 564px;
	display: inline-block;
	z-index: 10;
}

#border3{
	position: relative;
	display: inline-block;
	border: 2px solid #999;
	border-radius: 100px;
	height: 86px;
	width: 20.5%;
	left: 566px;
	top: -1322px;
	z-index: 20;
}

#well_3{
	position: relative;
	width: 14% !important;
	height: auto;
}

#text_bottle{
	position: relative;
	font-size: 65px;
	font-weight: bold;
	top: 15px;
	display: inline-block;
}


#img_bottle{
	position: relative;
	display: inline-block;
	left: 1027px;
	top: -1333px;
	width: 21.5%;
	margin-top: -70px;
	height: auto;
	z-index: 10;
}




#div_line2{
	position: relative;
	width: 100%;
	margin-top: 71px;
	display: block;
	height: 591px;
}

#border4{
	position: relative;
	display: inline-block;
	border: 2px solid #999;
	border-radius: 100px;
	height: 110px;
	width: 22.5%;
	left: 312px;
	top: -607px;
	z-index: 20;
}

#well_4{
	position: relative;
	left: 40px;
	width: 19% !important;
	height: auto;
	top: 76px;
	display: inline-block;
}

#text_bulb{
	position: relative;
	display: inline-block;
	top: 100px;
	left: 61px;
	font-size: 65px;
	font-weight: bold;
/*	transform: translatex(-50%);*/
}

#img_bulb{
	position: relative;
	display: inline-block;
	left: -503px;
	width: 27%;
	top: -239px;
	height: auto;
	z-index: 10;
}




#img_chair{
	position: relative;
	display: inline-block;
	left: 44%;
	width: 32.5%;
	top: -922px;
	height: auto;
	z-index: 10;
}
#border5{
	position: relative;
	display: inline-block;
	border: 2px solid #999;
	border-radius: 100px;
	height: 84px;
	width: 23%;
	left: 36%;
	top: -1484px;
	z-index: 20;
}
#text_chair{
	position: relative;
	top: 13px;
	font-size: 64px;
	font-weight: bold;
	display: inline-block;
}
#well_5{
	position: relative;
	left: 3.5%;
	width: 17% !important;
	height: auto;
	top: -5px;
	display: inline-block;
}
/*end_main_content*/





#upload{
	position: relative;
	display: block;
	margin: -191px auto;
	width: 84%;
	z-index: 20;
	height: 355px;
}

#click{
	display: block;
	position: relative;
	margin: 268px auto;
	width: 70%;
	min-width: 1000px;
}

#click_word{
	background-color: black;
	color: white;
	font-size: 57px;
	border: 2px solid #999;
	border-radius: 100px;
	padding: 22px 17%;
}

/*#fix_rotate{
	position: fixed;
	bottom: 250px;
	left: -170px;
	font-size: 20px;
	z-index: 1;
	transform: rotate(-90deg);
}*/

/*foot*/
.home_foot{
	width:100%;
	margin:0 auto;
	background-color:#0b0a0a;
	display: block;
	position: relative;
	margin-top: -178px;
}
/*foot*/

/*end*/
.end_background{
	width:100%;
	height:80px;
	background-color: #000;
}
/*end*/

.img_align:hover {
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
